<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="34" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AnimeVideoMaker"
        tools:targetApi="34">

        <!-- 👇 Main screen -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AnimeVideoMaker.NoActionBar"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 👇 Character Creator screen -->
        <activity android:name=".CharacterCreatorActivity" />

        <!-- 👇 Scene Composer screen -->
        <activity android:name=".SceneComposerActivity" />

        <!-- 👇 Preview renderer screen -->
        <activity android:name=".CharacterPreviewActivity" />
    </application>
</manifest>
